@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Libre+Baskerville:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}
.navbar{
    background-color: black;
    color: #f5f5f7;
}
.navbar ul{
    display: flex;
    font-size: 1.6rem;
} 
.navbar ul div{
    font-size: 1.6rem;
    display: flex;
    /* position: relative;
    left: 76rem; */
} 

.navbar ul li{
    list-style-type: none;
    padding: 2rem;
    cursor: pointer;
    
}
.navbar ul li:hover{
    color: #1872ae;
}

body{
    background-color: black;
}
.future{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171717;
    text-align: center;
    height: 3rem;
    width: 100vw;
    color: #1872ae;
    font-size: 1.5rem;
}
.name{
    font-family: 'Libre Baskerville', serif;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: white;
}
.lga{
    position: relative;
    bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    font-size: 1.4rem;
    
}

#tagline{
    word-spacing: 5rem;
}
.glow{
    opacity: 0;
    font-size: 10rem;
}
#cs{
    font-family: 'Audiowide', cursive;
    white-space: nowrap;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:4rem;
    color: white;
    transition-property: opacity;
    transition-duration: 3s;
    transition-timing-function: ease-out;

}


.follow{
    position: relative;
    top: 8rem;
}
.instagram{
    display: flex;
    justify-content: center;
    align-content: center;

    color: white; 
    font-size: 2rem;
    margin-bottom: 1rem;
}
.youtube{
    display: flex;
    justify-content: center;
    align-content: center;
    color: white; 
    font-size: 2rem;
}
.button1{
    background-color: #f5f5f7;
    color: black;
    height: 3rem;
    width: 14rem;
    border-radius: 30%;
    position: relative;
    left: 2rem;
    bottom: 0.3rem;
    cursor: pointer;

}    
.button2{
    background-color: #f5f5f7;
    height: 3rem;
    width: 14rem;
    border-radius: 30%;
    position: relative;
    left: 2rem;
    bottom: 0.3rem;
    cursor: pointer;
} 
.button1:hover{
    border: 2px solid white;
    background-color: #1872ae;
    /* background-color: black; */
}
.button2:hover{
    border: 2px solid white;
    background-color: #1872ae;
    /* background-color: black; */
}

.instagram button a{
    text-decoration: none;
    color: black;
}
.youtube button a{
    text-decoration: none;
    color: black;
}

.m1{
    white-space: nowrap;
}
.m2{
    white-space: nowrap;
}


/* @media(max-width:991px){
    html{
        font-size: 75%;
    }
} */
@media(max-width:1200px){
    html{
        font-size: 85%;
    }
}

@media(max-width:992px){
    html{
        font-size: 65%;
    }
} 
@media(max-width:768px){
    html{
        font-size: 55%;
    }
}
    
@media(max-width:600px){
    html{
        font-size: 45%;
    }
}
@media(max-width:450px){
    html{
        font-size: 35%;
    }
}

@media(max-width:350px){
    html{
        font-size: 30%;
    }
}

@media(max-width:300px){
    html{
        font-size: 25%;
    }
}

@media(max-width:250px){
    html{
        font-size: 20%;
    }
}

@media(max-width:150px){
    html{
        font-size: 15%;
    }
}